body {
  margin: 16px;
}
html {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}
h1 {
  word-spacing: 20px;
  text-align: center;
  text-transform: uppercase;
}
p {
  line-height: 28px;
}
a {
  text-decoration: none;
}
.translate {
  color: grey;
}
.technologi {
  letter-spacing: 3px;
  font-size: 24px;
  opacity: 80%;
  text-decoration: underline;
}
